asgiref==3.10.0
boto3==1.40.64
botocore==1.40.64
build==1.3.0
certifi==2025.10.5
charset-normalizer==3.4.4
Django==4.2.25
django-storages==1.14.6
idna==3.11
importlib_metadata==8.7.0
jmespath==1.0.1
packaging==25.0
pillow==11.3.0
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
requests==2.32.5
s3transfer==0.14.0
six==1.17.0
sqlparse==0.5.3
-e git+https://github.com/harish22222/student_accommodation.git@c80002a5dc24504a8c6698954ca9b7fafcd00ee3#egg=studentaccommodationlib&subdirectory=studentaccommodationlib
tomli==2.3.0
typing_extensions==4.15.0
urllib3==1.26.20
zipp==3.23.0
